<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>記事タイトル | Blog | My Portfolio</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    <div style="font-size:1.3rem;font-weight:bold;">trkn Portfolio</div>
    <nav>
      <a href="/index.html">Profile</a>
      <a href="/blog.html">Blog</a>
      <a href="/works.html">Works</a>
    </nav>
    <button id="toggle-mode" class="toggle-mode" aria-label="ダーク/ライトモード切替"></button>
  </header>
  <main>
    <article class="blog-article">
      <h1>記事タイトル</h1>
      <div class="blog-meta">
        <time datetime="2026-01-11">2026年1月11日</time>
        <br>
        <span class="blog-tags">
          <span class="work-tag">#Minecraft</span>
          <span class="work-tag">#配布ワールド</span>
          <span class="work-tag">#ゲーム制作</span>
        </span>
      </div>
      <section class="blog-body">
        <p>記事の説明文</p>
        <img src="/image/profile.png" alt="プロフィール画像" class="blog-img">
        <h2>見出しテスト</h2>
        <a href="https://example.com">リンクテスト</a>
        <p>記事本文</p>
        <h3>見出しテスト</h3>
        <span class="text-red">赤色のテキスト</span>
        <span class="text-blue">青色のテキスト</span>
        <span class="text-gray">グレーのテキスト</span>
        <pre><code>function hello() {
  console.log("Hello, world!");
}</code></pre>

      </section>
    </article>
  </main>
  <script src="/js/main.js"></script>
  <footer>
    &copy; 2026 trkn Portfolio. All rights reserved.
  </footer>
</body>

</html>